<!DOCTYPE html>
<html>
  <head>
    <title>Create A CD</title>
  </head>
  <body>
    <h3>Add Artist and Album Information</h3>
    <form action='/library' method='post'>
      <label for='artist'>CD Artist</label>
      <input id='artist' name='artist' type='text'>

      <label for='album'>CD Album</label>
      <input id='album' name='album' type='text'>

      <button type='submit'>Add CD</button>
    </form>

  </body>
</html>
