<html>
  <head>
    <title>CD Library</title>
  </head>
  <body>
    <h1>Welcome to the CD Library</h1>
    <h4>Add an album <a href='/create_cd'>here</a></h4>
    <hr>
    {% if cd is not empty %}
      <p>CD Library List:</p>
      <ul>
        {% for new_cd in cd %}
            <li>{{ new_cd.getArtist }}</li>
            <li>{{ new_cd.getAlbum }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action='/delete' method='post'>
        <button type='submit'>Clear CDs</button>
    </form>
  </body>
</html>
