<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>CD</title>
  </head>
  <body>
    <p>Here's the CD you added:</p>
    <p>{{ library_cd.getArtist }}</p>
    <p>{{ library_cd.getAlbum }}</p>
    <br>
    <p><a href='/'>Go Back</a></p>
  </body>
</html>
