
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
      <h1>CDs matching search</h1>
       {% if cd is not empty %}
           <p>Search Results:</p>
           <li>{{ search.getArtist }}</li>
           {% for search in cd %}
                {% if search == cd.getArtist %}
                      <li>{{ artist.getArtist }}</li>
                      <li>{{ search.getAlbum }}</li>
                  {% endif %}
           {% endfor %}
       {% endif %}


  </body>
</html>
