
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
      <h1>CDs matching search</h1>
      {% for artist in artist_list %}
         <h5>Artist: {{ artist.getArtist }}</h5>
         <h5>Ablum: {{ artist.getAlbum }}</h5>
       {% endfor %}
  </body>
</html>
